<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Passwordy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Passwordy.Properties.Settings>
            <setting name="MasterPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="userData" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageSaveLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountsSaveLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSaveLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockAccountTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>0.0.1</value>
            </setting>
        </Passwordy.Properties.Settings>
    </userSettings>
</configuration>